/*******************/
/* FONTS */
/*******************/

/* font-family: 'Inconsolata', monospace;
font-family: 'Inknut Antiqua', serif;
font-family: 'Space Grotesk', sans-serif; */

* {
  font-family: "Inconsolata", monospace;
}

/*******************/
/* BODY */
/*******************/

body {
  background-color: aquamarine;
}

/*******************/
/* HEADER */
/*******************/

h1 {
  text-align: center;
  color: blueviolet;
  margin-top: 25px;
}

/*******************/
/* QUESTION */
/*******************/

#question {
  width: 70%;
  padding: 50px;
  border: 3px solid grey;
  background-color: blueviolet;
  color: white;
  font-weight: bolder;
  font-size: 25px;
  /* text-transform: uppercase; */
  margin: 10px auto;
  text-align: center;
}

/*******************/
/* ANSWERS */
/*******************/

#answer ul li:hover {
  background-color: blueviolet;
}

#nextQuestion:hover {
  background-color: blueviolet;
}

#answer {
  width: 50%;
  height: 90%;
  margin: 10px auto;
  text-align: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  transition: 0.8s;
}

#answer ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  width: 100%;
  transition: 0.8s;
}

/* is there a way to center the text inside the border? */
#answer ul li {
  width: 40%;
  background-color: gold;
  border: 3px solid grey;
  margin: 5px;
  text-align: center;
  padding: 25px 10px 25px 10px;
  font-weight: bolder;
  cursor: pointer;
}

#correct-answer {
  width: 70%;
  padding: 10px;
  border: 3px solid grey;
  background-color: blueviolet;
  color: white;
  font-weight: bolder;
  font-size: 25px;
  /* text-transform: uppercase; */
  margin: 10px auto;
  text-align: center;
}

/*******************/
/* SCOREBOARD */
/*******************/

#scores {
  display: flex;
  width: 70%;
  background-color: gold;
  justify-content: center;
  margin: 10px auto;
}

#player1,
#player2 {
  width: 40%;
  background-color: gray;
  margin: 5px;
  text-align: center;
}

/*******************/
/* Dropdown Menu */
/*******************/

.learn-more {
    text-decoration: none;
}

/*******************/
/* Buttons */
/*******************/

#nextQuestion {
  width: 20%;
  display: flex;
  justify-content: center;
  margin: 0px auto;
  transition: 0.8s;
}

/* ***************** */
/* Media Queries */
/*******************/

@media screen and (max-width: 600px) {
  .body {
    max-width: 100%;
    max-height: 400px;
  }

  h1 {
    max-width: 100%;
  }

  #answer ul li {
    width: 100%;
    padding: 5px;
  }

  #question {
    width: 90%;
    font-size: 20px;
    padding: 5px;
  }

  #nextQuestion {
    width: 100%;
  }

  #correct-answer {
    width: 90%;
    padding: 5px;
  }

  #scores {
    width: 85%;
    height: 102px;
  }
}
